<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  {% if page.title == site.home %}
  <title>{{ site.title }} &middot; {{ site.tagline }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.twitter.username }}">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.url }}/bref.png">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.url }}/bref.png">
  {% else %}
  <title>{{ page.title | truncate: 40 }} &middot; {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.twitter.username }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ site.description }}">
  {% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/apple-touch-icon-precomposed.png">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml">
</head>
