{% include normalize_article.html %}
{% include current_date.html %}
<hr>
<span class="share-buttons">
  <a
    href="https://twitter.com/intent/tweet?text={{ site.twitter.share_text | cgi_escape }}{{ current_date }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter.username }}&related={{ site.twitter.username }}"
    rel="nofollow" target="_blank" title="Partager sur Twitter"
    onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700'); return false;">
    {{ site.icons.twitter }}
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ article.url }}" rel="nofollow" target="_blank"
     title="Partager sur Facebook"
     onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700'); return false;">
    {{ site.icons.facebook }}
  </a>
</span>
